<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="name" type="java.lang.String"*/-->
    <title> Gradle Dependencies Viewer</title>
    <base th:href="@{/}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{static/favicon.ico}" type="image/x-icon"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" th:href="@{static/css/primer.css}"/>
    <link rel="stylesheet" th:href="@{static/css/custom.css}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script th:src="@{static/clipboard/tooltips.js}"></script>
    <script th:src="@{static/js/js.cookie.js}"></script>
    <script th:src="@{static/js/utils.js}"></script>
    <script th:src="@{static/js/gradle.js}"></script>

</head>
<body>


<div class="container-fluid" th:include="menu"></div>

<div class="container-fluid" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-6">
            <h1> Gradle Dependencies Viewer</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a class="tab-tree" data-toggle="tab" href="#gradleTree">Tree</a></li>
                <!--<li><a class="tab-graph" data-toggle="tab" href="#gradleGraph">Graph</a></li>-->
            </ul>

            <div class="tab-content">
                <div id="gradleTree" class="tab-pane fade in active">
                    <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
                        <div class="col-md-2">
                            <div class="btn-group">
                                <button id="expandButton" type="button" class="btn btn-default"
                                        title="Expand All">
                                    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                                </button>
                                <button id="collapseButton" type="button" class="btn btn-default"
                                        title="Collapse All">
                                    <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="projectList">Project: </label>
                                <select id="projectList" class="selectpicker show-tick"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="true" name="ignoreTests" id="ignoreTests"
                                                  checked="checked"/>Ignore
                                        tests</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" value="" style="width:200px; font-size:1.1em;" id="searchTree"
                                   placeholder="Search"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="jstree"></div>
                        </div>
                    </div>


                </div>
                <!--<div id="gradleGraph" class="tab-pane fade">-->
                <!--Coming soon...-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-6">
            <div class="affix" style="padding-top: 50px;width: 60%">
                <div class="row">
                    <h2>Input</h2>
                    <ul class="nav nav-tabs">
                        <li class="active"><a class="tab-gradle" data-toggle="tab" href="#gradle"></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="gradle" class="tab-pane fade in active">
                            <div>

                        <textarea id="gradlePasteArea" title="Paste here" spellcheck="false" class="drop_zone"
                                  placeholder="Paste or Drag&amp;Drop here output of your 'gradle dependencies' command and press Parse button"></textarea>

                            </div>
                            <button id="clearButton" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear
                            </button>
                            <button id="applyButton" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Parse Input
                                Data
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br/>
                        <h3>Gradle command line hints</h3>
                        <ul>
                            <li>Subproject dependencies only .... <code>gradle sub1:dependencies</code></li>
                            <li>All dependencies with subprojects .... <a
                                    href="https://solidsoft.wordpress.com/2014/11/13/gradle-tricks-display-dependencies-for-all-subprojects-in-multi-project-build/">check
                                this code</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br/>
                        <br/>
                        <span class="custom-icon glyph icon-bulb"></span> Use right click on tree to exclude dependency
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:include="footer">
    </div>
</div>


</body>
</html>
